@page
@model WebApplicationPersonBook.Pages.MyDataModel

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _userManager;

@{
    ViewData["Title"] = "My Contacts List";
}

<div class="container p-3">
    <div class="row pt-4">


            <div class="col-md-4" style="padding: 0">
                <h2 class="text-primary">My Contacts List</h2>
            </div>

            <div class="col-md-4 text-md-center mb-2" style="padding: 0">
                <a asp-area="" asp-page="/Contacts" class="btn btn-outline-secondary">
                    <i class="fa-regular fa-circle-check"></i> &nbsp;
                    All Contacts
                </a>
            </div>
            <div class="col-md-4 text-md-right mb-2" style="padding: 0">
                <a asp-area="" asp-page="/CreateNewContact" class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i> &nbsp;
                    Create New Contact
                </a>
            </div>

        <br /><br />

        @if (Model.Contacts.Count > 0)
        {
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center">
                            First Name
                        </th>
                        <th class="text-center">
                            Last Name
                        </th>
                        <th class="text-center">
                            Avatar
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.Contacts)
                    {
                        <tr>
                            <td width="25%" class="text-center">@obj.FirstName</td>
                            <td width="25%" class="text-center">@obj.LastName</td>
                            <td width="15%" class="text-center align-content-center" style="padding: 0; vertical-align: middle;"><img style='height:40px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(@obj.Avatar))" /></td>
                            <td width="35%" class="text-center">
                                
                                <a asp-area="" asp-route-Id="@obj.Id" asp-page="/ShowDetails" class=" btn btn-outline-success my-1">
                                    <i class="fa-solid fa-circle-info"></i> &nbsp; Show Details
                                </a>
                                <a asp-area="" asp-route-Id="@obj.Id" asp-page="/Update" class="btn btn-primary mx-2">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a asp-area="" asp-route-Id="@obj.Id" asp-page="/Delete" class="btn btn-danger mx-2">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No contacts exists.</p>
        }
    </div>
</div>